<div class="main-content">
  <div class="container-fluid">
  	<div class="card">
	      <div class="card-header card-header-warning card-header-icon"> 
	          <div class="card-icon">
	              <i class="material-icons">content_copy</i>
	          </div>
	          <p class="card-title">{{ !isNewItem? "Edit" : "New" }} Item</p>
	      </div>
	      <div class="card-body pl-5">
	        <mat-tab-group>
	        	<mat-tab label="General Details">
	        		<div class="p-3">
		        		<div class="row">
				      		<div class="form-group p-2 w-25">
					      		<label>Item Name</label>
					      		<input class="form-control" [(ngModel)]="item.itemName" />
					      	</div>
					      	<div class="form-group p-2 w-25">
					      		<label>Cost</label>
					      		<input class="form-control" type="number" [(ngModel)]="item.itemCost">
					      	</div>
					     </div>
					     <div class="row">
					     	<div class="form-group p-2 w-25">
					      		<label>Selling Price</label>
					      		<input class="form-control" type="number" [(ngModel)]="item.itemPrice">
					      	</div>
					      	<div class="form-group p-2 w-25">
					      		<label>Status</label>
					      		<mat-select class="form-control" [value]="item.isActive" [(ngModel)]="item.isActive">
					      			<mat-option [value]="true" >Active</mat-option>
					      			<mat-option [value]="false" >Disabled</mat-option>
					      		</mat-select>
					      	</div>
					     </div>
					     <div class="row">
					      	<div class="form-group p-2 w-25">
					      		<label>Qty On Hand</label>
					      		<input class="form-control" [readonly]="!isNewItem" [value]="item.qtyOnHand">
					      	</div>
					     </div>
					</div>
	        	</mat-tab>
	        	<mat-tab label="Stock Details">
	        		 <table mat-table [dataSource]="stockDetails" class="w-100">
					  <ng-container matColumnDef="type">
					    <th mat-header-cell *matHeaderCellDef> Type </th>
					    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
					  </ng-container>

					  <ng-container matColumnDef="quantity">
					    <th mat-header-cell *matHeaderCellDef> Quantity </th>
					    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
					  </ng-container>

					  <ng-container matColumnDef="remarks">
					    <th mat-header-cell *matHeaderCellDef> Remarks </th>
					    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
					  </ng-container>

					  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
	        	</mat-tab> 
	        	<mat-tab label="Movement Details">
	        		<div class="p-3">
	        			TO BE IMPLEMENTED
	        		</div>
	        	</mat-tab>
	        </mat-tab-group>
	       </div>
	      <div class="card-footer justify-content-center">
	          <button (click)="saveItem($event)" class="btn btn-success">
	          	Save
	          </button>
	      </div>
	</div>
  </div>
</div>