<div class="main-content">
  <div class="container-fluid">
	    <div class="d-flex flex-container justify-content-center">
			<table class="table table-bordered table-striped mr-5">
				<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Name</th>
						<th class="text-center">Price</th> 
						<th class="text-center">Cost</th>
						<th class="text-center">Stock</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let item of items$ | async'>
						<td class="text-center">{{ item.id }}</td>
						<td>{{ item.itemName }}</td>
						<td class="text-right">{{ item.itemPrice }}</td>
						<td class="text-right">{{ item.itemCost }}</td>
						<td class="text-center">{{ item.qtyOnHand || 0 }}</td>
						<td class="text-center">
							<a [routerLink]="'/items/' + item.id">
								<i class="material-icons">edit</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
