<div class="d-flex flex-container justify-content-center">
	<table class="table table-bordered table-striped  w-50">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th> 
				<th>Cost</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor='let item of items'>
				<td>{{ item.id }}</td>
				<td>{{ item.itemName }}</td>
				<td>{{ item.itemPrice }}</td>
				<td>{{ item.itemCost }}</td>
				<td>{{ item.qtyOnHand }}</td>
			</tr>
		</tbody>
	</table>
</div>
