<div class="main-content">
  	<div class="container-fluid">
	    <div class="d-flex flex-container justify-content-center">
			<table class="table table-bordered table-striped mr-5">
				<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Name</th>
						<th class="text-center">Address</th> 
						<th class="text-center">City</th>
						<th class="text-center">State</th>
						<th class="text-center">Discount</th>
						<th class="text-center">Status</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let customer of customers$ | async">
						<td class="text-center">{{ customer.id }}</td>
						<td>{{ customer.name }}</td>
						<td class="text-left">{{ customer.address }}</td>
						<td class="text-left">{{ customer.city }}</td>
						<td class="text-left">{{ customer.state? customer.state.name : '' }}</td>
						<td class="text-right">{{ customer.discount }} %</td>
						<td class="text-center">{{ customer.status? "Active" : "Disabled" }}</td>
						<td class="text-center">
							<a [routerLink]="'/customers/' + customer.id">
								<i class="material-icons">edit</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
